.transfer_field {
	display:none;
}
.car_hdr {
	padding-right: 0px !important;
}
.softner {
	/*color:#777777 !important;*/
	font-size: 12px !important;
	font-weight: bold;
}
.car_item {
	margin-top:20px;
}
.car_item .goodprice {
	font-size: 18px;
}
.car_item .car_img {
	/*float:left;*/
	width:395px;
	padding-bottom: 10px;
}
.car_item .car_img img {
	width:100%;
}
.car_item .car_descr {
	/*float:right;*/
	/*width:70%;*/
	padding-bottom: 20px;
}
.car_item.selected * {
	color:#000000;
}
.car_item .car_trip {
	width:150px;
	text-align:right !important;
	float:left !important;
}
.car_price {
	padding-left:5px;
}
.car_item .name {
	float: left;
	width: 288px;
	font-weight: bold;
	margin-left: 0;
}
.car_item .nm {
    font-size: 13px;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.car_select {
    float: right;
    width: 40px;
}
.line .selector {    
	float: right;
	*+ float: none;
	*+ right: 7px;
	*+ position: absolute;
	font-size: 11px;
	height: 43px;
	text-align: center;
	width: 50px;
}
	.line.active .selector { 		
		height: 65px;
	}
	.line .selector input{
		margin: 4px 0px;
	}
	.line .selector span{
		color: #9F7C32;
		cursor: pointer;
	}
.summary_transfer_modify {
	display:none;
	color:#333333;
	border: 1px solid #B08A2F;
	padding: 15px;
	background-color:#FFFFFF;
}
#TBH .summary_transfer_modify {
	border: 1px solid #000000;
}
.summary_transfer_modify .total {
	font-size:18px;
}
#TBH #summary_transfer {
	padding-top:20px;
}
#OVERVIEW_CARS_LIST .car_item {
    float: left;
    width: 230px;
}
#OVERVIEW_CARS_LIST .car_item.cnt_0 {
	margin-right:34px;
}
#OVERVIEW_CARS_LIST .car_item .car_img {
	width: 100%;
}
.radio {
	margin:0 0 0 3px;
}
.selector .radio.radio_on {
	/*background-position: center 0px !important;*/
}
.selector .radio {
	/*
	background: url('radio.png') center -37px no-repeat;
	width: 48px;
	height: 35px;
	margin-bottom: 3px;
	cursor: pointer;
	*/
}
#TBH .selector .radio {
	/*background: url('radio-tbh.png') center -37px no-repeat;*/
}
.overview_car {
	margin-top: 5px;
	width: 83px;
	height: 24px;
}
.overview_radio {
	/*
	background: url('select-radio-off.jpg') no-repeat;
	margin-top: 5px;
	*/
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 228px;
}
#TBH .overview_radio {
	background: url('select-radio-off-tbh.jpg') no-repeat;
}
.overview_price {
	font-size:25px;
}
#TBH .overview_price {
	padding-top:7px;
}
.overview_lbl {
	margin-top: 10px;
}
#transfer_overview {
	display:none;
	margin-bottom:0px;
}
.chkbxlbl {
	height: 16px;
	padding-left: 10px;
}

.rules_conditions .modify {
/*
    color: #AE893B;
    cursor: pointer;
    font-size: 14px;
*/
    margin-bottom: 7px;
}
#TBH .rules_conditions .modify {
    color: #000000;
}
.guest .rules_conditions,
.ta .rules_conditions {
	display:none;
}
.add_transfer.btn {
    background: url("../img/button_check-availability.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #7E5D0B !important;
    cursor: pointer;
    float: none;
    font-size: 11px !important;
    height: 13px;
    margin-bottom: 20px;
    margin-left: 226px;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px 0 !important;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: uppercase;
    width: 172px;
}
.add_transfer.btn:hover {
	background-position:0 -29px;
}

#popover_trans_terms {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AA8B4A;
    display: none;
    height: 210px;
    position: absolute;
    width: 274px;
	z-index: 999;
	padding: 0px 10px;
	overflow: auto;
	font-size: 14px;
	line-height: 18px;
}
#TBH #popover_trans_terms {
    border: 1px solid #000000;
}
	#popover_trans_terms .close {
		text-align: right;
		margin: 10px 0px 0px 0px;
	}
		#popover_trans_terms .close a {
			color: #ae893b;
			font-size: 13px;
			padding-right: 36px;
			text-decoration: underline;
			background: url("/er/img/cross.png") no-repeat scroll 40px 1px transparent;
		}
		#TBH #popover_trans_terms .close a {
			color: #000000;
		}


.ampm_tbl {
    height: 22px;
    margin-bottom: 4px;
    margin-top: 15px;	
}
.ampm_tbl input {
	height:auto;
	margin:0px;
}
.transfer_opt_tbl td {
	padding-bottom:10px;
}
#TRANSFER_CARS_LIST {
	margin-top:50px;
}
.total_charge_usd {
	font-size:25px;
}
.nowrap {
  white-space:  nowrap;
}